{#
* Notes is a Grav CMS theme | https://github.com/underr-ua/grav-theme-notes
* Copyright 2017-2019 Andrii Burkatskyi aka underr
* Licensed under MIT | https://github.com/underr-ua/grav-theme-notes/raw/master/LICENSE
#}

{% set banner_url = banner.url(true) %}
{% set page_url = page.url(true) %}

<meta content="{{ (banner_url)|default('/')}}" itemprop="image"/>
<link href="{{ page_url }}" itemtype="https://schema.org/WebPage" itemprop="mainEntityOfPage" itemscope="itemscope"/>
<span itemprop="author" itemscope="itemscope" itemtype="https://schema.org/Person">
    <meta content="{{ base_url_absolute }}" itemprop="name"/>
</span>
<span itemprop="publisher" itemscope="itemscope" itemtype="https://schema.org/Organization">
    <meta content="{{ base_url_absolute }}" itemprop="url"/>
    <meta content="{{ config.site.title }}" itemprop="name"/>
    <span itemprop="logo" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
        <meta content="{% if banner %}{{ banner.quality(32).url()}}{% else %}/{% endif %}" itemprop="url"/>
    </span>
</span>

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="{{ config.site.title }}"/>
<meta name="twitter:image" content="{{ (banner_url)|default('/') }}"/>
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page_url }}"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.header.metadata.description|default(page.summary|striptags) }}"/>
<meta property="og:image" content="{{ (banner_url)|default('/') }}"/>
